.piece-selector input {
    margin: 0;
    padding: 0;
    appearance: none;
}

.white-king {
    background-image:url(../icons/pieces/standard/wk.svg);
}
.white-queen {
    background-image:url(../icons/pieces/standard/wq.svg);
}
.white-rook {
    background-image:url(../icons/pieces/standard/wr.svg);
}
.white-knight {
    background-image:url(../icons/pieces/standard/wn.svg);
}
.white-bishop {
    background-image:url(../icons/pieces/standard/wb.svg);
}
.white-pawn {
    background-image:url(../icons/pieces/standard/wp.svg);
}
.black-king {
    background-image:url(../icons/pieces/standard/bk.svg);
}
.black-queen {
    background-image:url(../icons/pieces/standard/bq.svg);
}
.black-rook {
    background-image:url(../icons/pieces/standard/br.svg);
}
.black-knight {
    background-image:url(../icons/pieces/standard/bn.svg);
}
.black-bishop {
    background-image:url(../icons/pieces/standard/bb.svg);
}
.black-pawn {
    background-image:url(../icons/pieces/standard/bp.svg);
}

.cursor {
    background-image:url(../icons/cursor.svg);
}

.trash {
    background-image:url(../icons/trash.svg);
}

.white-nightrider {
    background-image:url(../icons/pieces/fairy/wn_180.svg);
}
.black-nightrider {
    background-image:url(../icons/pieces/fairy/bn_180.svg);
}

.white-ferz {
    background-image:url(../icons/pieces/fairy/wb_180.svg);
}
.black-ferz {
    background-image:url(../icons/pieces/fairy/bb_180.svg);
}

.white-mann {
    background-image:url(../icons/pieces/fairy/wk_180.svg);
}
.black-mann {
    background-image:url(../icons/pieces/fairy/bk_180.svg);
}

.white-empress {
    background-image:url(../icons/pieces/fairy/we.svg);
}
.black-empress {
    background-image:url(../icons/pieces/fairy/be.svg);
}

.white-princess {
    background-image:url(../icons/pieces/fairy/ws.svg);
}
.black-princess {
    background-image:url(../icons/pieces/fairy/bs.svg);
}

.white-joker {
    background-image:url(../icons/white_joker.svg);
}
.black-joker {
    background-image:url(../icons/black_joker.svg);
}

.piece-selector input:checked +.piece-card {
    border: 0.15em inset black;
    filter: none;
}

.piece-card {
    cursor: pointer;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 65px;
    height: 65px;
    filter: opacity(.4);
    flex: 0 1 15%;
}
.piece-card:hover {
    filter: opacity(.85);
}

.piece-card.cursor,.trash {
    width: 50px;
    height: 50px;
    flex: 0 1 12%;
}


.board {
    position: relative;
}

.title {
    font-size: 120%;
    font-weight: bold;
}

.misc-section {
    display: flex;
    justify-content: center;
    background-color: #fffe93;
    padding-top: 0.5em;
}
.spares-section {
    background-color: #fff;
}
.customize-section {
    padding-bottom: 0.8em;
}

.piece-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.piece-selector {
    display: flex;
    flex-direction: column;
}

.piece-customize {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap:wrap;
    text-align: center;
}

.offsets-form {
    display: flex;
    flex-direction: column;

    align-self: center;
}

.diagram {
    display: inline-block;
    position: relative;
    background-image:
    linear-gradient(45deg, #ffffff 25%, transparent 25%),
    linear-gradient(-45deg, #ffffff 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #ffffff 75%),
    linear-gradient(-45deg, transparent 75%, #ffffff 75%);
    background-size: 40px 40px;
    background-color: #ddd;
    background-position: 0 0, 0 20px, 20px -20px, -20px 0px;
    width: 300px;
    height: 300px; 
}

.hint {
    fill: #fd4362;
}

@media only screen and (max-width: 400px) {
    .diagram {
        background-size: 30px 30px;
        background-position: 0 0, 0 15px, 15px -15px, -15px 0px;
        width: 225px;
        height: 225px; 
    }
}