.pieces-table {
    border-collapse: collapse;
    border: 1px dotted black;
    margin: 0 auto;
    table-layout: fixed;
    width: 315px;
}
.pieces-header, .pieces-data {
    border: 1px solid #bbb;
    width: 15%;
    padding: 5px;
    text-align: left;
}
.pieces-header {
    background-color: #eee;
}
