.square {
    fill: red;
    stroke: #DDD;
    shape-rendering: crispEdges;
  }
.reachable {
fill: orange;
stroke: orange;
stroke-width: 3;
opacity: 0.4;
}
.requires_enemy {
fill: red;
stroke: red;
}
.requires_empty {
fill: green;
stroke: green;
}
.move_only {
fill: transparent;
}
text.piece {
text-anchor: middle;
font-size: 24px;
}
rect.piece {
shape-rendering: crispEdges;
}
