.game-data {
    border: 0.15em dotted pink;
    min-height: 2em;
    width: inherit;
    max-width: inherit;
}

.moves {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}